.bg-orange{
    background-color: orange;
}
.orange{
    color: orange;
}
.hov:hover{
    background-color: orange;
    
}
.bg-dorange{
    background-color: #ec9f10;
}
.bg-lorange{
    background-color: #f1ede4;
}
.bg-purple{
    background-color: #c279c2;
}
.p-r{
    padding-right: 80px;
}
.p-l{
    padding-left: 80px;
}
.p-t{
    padding-top: 10px;
}
.p-b{
    padding-bottom: 10px;
}
.b-rounded{
    border-radius: 10px;
}
.p-b-10{
    padding-bottom: 0px;
}

@media(max-width: 740px) {
    .media{
        display: none;
        
    }
    .wrap{
        flex-wrap: wrap;
    }
    #p-y{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 100px;
    }
    #inp-pad{
        padding-left: 20px;
        padding-right: 20px;
    }
    #wth{
        width: 50%;
    }
   
}
