*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-orange{
    background-color: orange;
}
.orange{
    color: orange;
}
.hov:hover{
    background-color: orange;
    transition: 1s;
    
}
.bg-dorange{
    background-color: #ec9f10;
}
.bg-lorange{
    background-color: #f1ede4;
}
.bg-purple{
    background-color: #c279c2;
}
.p-r{
    padding-right: 80px;
}
.p-l{
    padding-left: 80px;
}
.p-t{
    padding-top: 10px;
}
.p-b{
    padding-bottom: 10px;
}
.b-rounded{
    border-radius: 10px;
}
.p-b-10{
    padding-bottom: 0px;
}

@media(max-width:766px) {
    .media{
        display: none;
        
    }
    .wrap{
        flex-wrap: wrap;
    }
    #p-y{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 100px;
    }
    #inp-pad{
        width: 60%;
    }
    #wth{
        width: 30px;
    }
    #video{
        width: 50%;
    }
    #input-wth{
        width: 70%;
    }
    .i{
        width: 30%;
    }
    .margin{
        margin-right: 20px;
    }
    .p-2{
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .p-r-l{
        padding-left: 10px;
        padding-right: 10px;
    }
    .r-center{
        justify-content: center;
    }
    
    
   
}
